/* src/components/BackToTop.css */

.back-to-top {
    position: fixed;
    bottom  : 2rem;
    right   : 2rem;
    z-index : 1000;
}

.back-to-top-btn {
    padding         : .75rem 1rem;
    font-size       : 1rem;
    background-color: #525CEB;
    color           : white;
    border          : none;
    border-radius   : 0.5rem;
    cursor          : pointer;
    box-shadow      : 0 4px 6px rgba(0, 0, 0, 0.1);
    transition      : background-color 0.3s ease;
}

.back-to-top-btn:hover {
    background-color: #0056b3;
}