/* src/components/JobList.css */

.job-list {
    display              : grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap             : .5rem;
    padding              : 1rem 5rem;
    justify-items        : center;
    background-color: #EEEEEE;
}

@media (max-width: 1024px) {
    .job-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .job-list {
        grid-template-columns: 1fr;
    }
}